:root {
  --dark: #24282c;
  --green: #d3f36b;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: #e9eff2;
  overflow: auto;
  background-size: cover;
  margin: 0;
}

.container {
  height: 100vh;
  padding: 20px;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
}

.custom-file-input:not(:disabled) + label .loader {
  display: none;
}
.custom-file-input:not(:disabled) + label .img-upload-text {
  display: block;
}

.custom-file-input:disabled + label {
  background-color: var(--dark); /* Light grey or any color you prefer */
  cursor: not-allowed;
  border: 1px solid #ccc;
}

/* You can add specific styles to the loader within the label */
.custom-file-input:disabled + label .loader {
  display: block; /* Hide loader when disabled, if desired */
}
.custom-file-input:disabled + label .img-upload-text {
  display: none; /* Hide loader when disabled, if desired */
}

#img {
  height: 300px;
  width: auto;
  border-radius: 10px;
  border: 2px var(--dark) solid;
}

#thresCanvas {
  height: 200px;
  width: 150px;
  padding: 0px;
  border-radius: 10px;
  border: 2px var(--dark) solid;
}

#results {
  margin-top: 20px;
}
.result {
  margin-bottom: 10px;
}
.class-name {
  font-weight: bold;
}

.bg-section {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 20px;
}

.absProgress {
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--dark);
}

.absBar {
  width: 1%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: rgb(0, 0, 0);
  transition: width 0.5s ease-in-out;
}

.trpProgress {
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--dark);
}

.trpBar {
  width: 1%;
  height: 30px;

  text-align: center;
  line-height: 30px;
  color: rgb(0, 0, 0);
  transition: width 0.5s ease-in-out;
}

.loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #ffffff #ffffff00;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

.nav-link {
  color: #000000;
  background-color: azure;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link > svg {
  margin-right: 10px;
}

.nav-link.active {
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  fill: white;
  background-color: var(--dark) !important;
}

label {
  background-color: var(--dark);
  color: rgb(255, 255, 255);
  padding: 0.5rem 2rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
}
.parent-camera-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-container {
  position: relative;
  width: 150px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  overflow: hidden;
  border-radius: 10px;
  border: 2px var(--dark) solid;
}
#imgVideo {
  height: 100%;
  width: 100%;
  display: block;
}
.shutter-overlay {
  border-radius: 10px;
  border: 2px white solid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

.shutter-overlay.shutter-effect {
  animation: shutter-flash 0.15s forwards, reveal-photo 1.5s forwards 0.15s;
}

@keyframes shutter-flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes reveal-photo {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/* From Uiverse.io by MuhammadHasann */
/* Responsive Toggle Switch */

.toggle-cont {
  width: 6.25rem;
  height: 2.3rem;
  border-radius: 9999px;
}

.toggle-cont .toggle-input {
  display: none;
}

.toggle-cont .toggle-label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 0.375rem;
  width: 100%;
  height: 100%;
  background: #272727;
  border-radius: 9999px;
  box-sizing: content-box;
  box-shadow: 0px 0px 1rem -0.5rem #fefefe; /* Responsive shadow */
}

.toggle-cont .toggle-label .cont-label-play {
  position: relative;
  width: 50%;
  aspect-ratio: 1 / 1;
  background: #5e5e5e;
  border-radius: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-input:checked + .toggle-label .cont-label-play {
  background: #f43f5e;
  transform: translateX(100%); /* Move by 100% of the container */
}

.toggle-cont .toggle-label .label-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 1.5rem; /* Responsive width */
  aspect-ratio: 1 / 1;
  background: #fefefe;
  border-radius: 0.25rem; /* Responsive border radius */
  clip-path: polygon(25% 0, 75% 50%, 25% 100%, 25% 51%);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-input:checked + .toggle-label .label-play {
  width: 1.25rem; /* Responsive width */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* Media Queries for Smaller Screens */
@media (max-width: 767px) {
  .toggle-cont {
    width: 5rem; /* Adjusted for smaller screens */
    height: 1.8rem;
  }

  .toggle-cont .toggle-label .label-play {
    width: 1rem;
  }

  .toggle-cont .toggle-input:checked + .toggle-label .label-play {
    width: 0.875rem;
  }
}

@media only screen and (max-width: 768px) {
  .mob-text {
    /* margin-top: 20px; */
    display: flex;
    justify-content: start;
  }

  #imgvideo {
    width: 100%;
  }
}
